################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MemoryGraphic/FileContentIndex/0686626a-791c-4fd1-bcf9-ba281ca2b63d.vsidx
/.vs/MemoryGraphic
